files:
  "/tmp/prod_sns_policy.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
          "Version": "2008-10-17",
          "Id": "__default_policy_ID",
          "Statement": [
              {
                  "Sid": "__default_statement_ID",
                  "Effect": "Allow",
                  "Principal": {
                      "AWS": "*"
                  },
                  "Action": [
                      "SNS:GetTopicAttributes",
                      "SNS:SetTopicAttributes",
                      "SNS:AddPermission",
                      "SNS:RemovePermission",
                      "SNS:DeleteTopic",
                      "SNS:Subscribe",
                      "SNS:ListSubscriptionsByTopic",
                      "SNS:Publish"
                  ],
                  "Resource": "arn:aws:sns:us-east-1:433864969993:virus-scan-trigger-prod",
                  "Condition": {}
              }
          ]
      }

container_commands:
  01_fix_sns_policy:
    command: "aws sns set-topic-attributes --topic-arn arn:aws:sns:us-east-1:433864969993:virus-scan-trigger-prod --attribute-name Policy --attribute-value file:///tmp/prod_sns_policy.json --region us-east-1"
    ignoreErrors: true
